// color
$color-primary: #98ff98;
$color-primary-light: #CAFFCA;
// $color-primary-ex-light: #9dc1e0;
$color-primary-dark: #7ACC7A;
// $color-primary-grey: #4b4b4b;

$color-secondary: #565656;

// $color-tertiary: #00ae50;
// $color-tertiary-transparent: rgba(0, 179, 90, 0.3);

// $color-quaternary: #ae5000;

$color-grey-light: #eee;
$color-grey-light-2: #f7f7f7;
$color-grey-light-3: #ccc;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-transparent: transparent;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.7);
$color-black: #000;

$color-success: rgb(0, 110, 0);;
$color-danger: #ffc2c2;
$color-danger-real: #ff0000;
// font
$font-size-default: 1.6rem;