@import '../../sass/mixin.scss';

.Form {
    width: 70%;
    margin: auto;

    @include respond(phone) {
        width: 90%;
    }

    & .ButtonContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, 10rem);
        grid-column-gap: 5rem;
        justify-content: center;

        margin-bottom: 3rem;
    }
}