.Form {
    width: 70%;
    margin: auto;

    & .ButtonContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, 10rem);
        grid-column-gap: 5rem;
        justify-content: center;

        margin-bottom: 3rem;
    }
}