@import '../../../sass/variables.scss';
@import '../../../sass/mixin.scss';

.input {
  margin: 0 0 2rem 0;
  width: 100%;
}

.input label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.25rem;

  font-size: 1.8rem;
}

.input input,
.input textarea {
  display: block;
  font: inherit;
  padding: 0.25rem 0.5rem;
  width: 97%;
  border-radius: 3px;
  border: 1px solid $color-secondary;
  background-color: $color-primary;
  color: $color-secondary;

  @include respond(phone) {
    width: 96%;
  }
}

.input .touched.invalid {
    border-color: $color-danger-real;
    background: $color-danger;
}

.input input:focus,
.input textarea:focus {
  outline: none;
  border-color: $color-primary;
  color: $color-secondary;
}
