@import '../../sass/variables.scss';

.NavigationItem {
    transition: all .2s;

    &:hover {
        transform: translateY(-.1rem);
    }

    & a {
        text-decoration: none;

        // Expand clickable areas
        position: relative;
        z-index: 1;
        &::after {
            content:'';
            position: absolute;
            top: -.5rem; bottom: -.5rem;
            left: 0; right: 0;
            z-index: -1;
        }

        &:hover,
        &:active {
            color: $color-primary;
        }

        &.active {
            border-bottom: 5px solid $color-primary;
            padding-bottom: .5rem;

            &:hover {
                border-bottom: none;
            }
        }
    }
}